.footer {
  background-color: #262530;
}

.footer-container {
  max-width: 1370px;
  height: 64px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-info {
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.telegram {
  width: 32px;
  height: 32px;
  margin-left: 30px;
  cursor: pointer;
}
